<section class="container">
  <section class="work-area">
    <section class="work-area-top">
      <h3>{{ user.username }}</h3>
      <form action="/logout" method="POST">
        <button type="submit" class="btn btn-border">Sign Out</button>
      </form>
    </section>
    <section class="work-area-center">
      {{#each chats }}
          <div class="list-tile">
            <div class="list-tile-top">
              <h5>{{ ../user.username }}</h5>
            </div>
          <p>{{ message }}</p>
            <h6>{{ createdAt }}</h6>
          </div>
      {{else }}
        <p class="feedback">There are no chats to display</p>
      {{/each }}
    </section>
    <section class="work-area-bottom">
      <p class="feedback"></p>
      <form method="post" autocomplete="off" id="message-form">
        {{#with user }}
          <input type="hidden" name="username" value={{ username }} id="username-field">
          <input type="hidden" name="id" value={{ id }} id="id-field">
        {{/with }}
          <input type="text" name="message" id="message-input" placeholder="Type Something..." autocomplete="off">
          <button type="submit" class="btn" id="message-submit">+</button>
      </form>
      <div class="error">
        <p>This is an error message</p>
      </div>
    </section>
  </section>
</section>